/*********************************************************************************************************************
GENERAL
*********************************************************************************************************************/

body {
    background-color: #d5d5d5;
}

/*********************************************************************************************************************
CHOROPLETH MAP
*********************************************************************************************************************/


/*********************************************************************************************************************
SPIDER DIAGRAM
*********************************************************************************************************************/

#spider-diagram {
    width: 550px;
    height: 670px;
    background-color: #46475b;
    opacity: 0.7;
}

#spider-diagram circle {
    fill: #92939b;
    stroke: white;
    stroke-width: 1.2;
    opacity: 0.7;
}

#spider-diagram path {
    stroke: white;
    stroke-width: 1.2;
}


/*********************************************************************************************************************
CHORD DIAGRAM
*********************************************************************************************************************/